.grey {
  background-color: rgb(255, 255, 255);
  box-shadow: 5px 5px 5px #000000;
  outline: 2px solid #000000;
}

.rowmargin {
  margin: 5%;
  color: rgb(0, 0, 0);
  margin-bottom: 0.5%;
  margin-top: 0.5%;
}

.addTaskButton {
  margin-top: 20%;
}

.addTaskTextArea {
  outline: 2px solid #000000;
}
